<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration OTP</title>
</head>
{% load static %}

<body>
    <div>
        {% if resend %}
        Resend OTP
        {% endif %}
    </div>
    <div class="mid">
        {% for otp in otp_list %}
        <span>{{ otp }}</span>
        {% endfor %}
    </div>
    <div>
        OTP Expiry Time: {{ otp_expiry_minutes }}
    </div>
</body>

</html>